html, body {
    height: 100%;
    margin: 0;
  }

  .container {
    display:flex;
    height: 100vh;
    flex-direction:column;
    align-items: center;
    gap:5vh;
  }  

  .container button{
    padding:20px;
    
  }
